.card {
  position: relative;
  display: flex;
  width: 274px;
  min-height: 426px;
  flex-direction: column;
}

.img {
  width: 274px;
  height: 268px;
  border-radius: 14px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
  background-size: cover;
  margin-bottom: 14px;
}

.btn {
  padding: 12px 0;
  border: transparent;
  border-radius: var(--border-radius);
  background-color: var(--blue);

  color: var(--White, #fff);

  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--accent-color);
}

.icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  stroke: var(--White);
  fill: none;
    scale: 1;
    transition: scale 200ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover, .icon:focus{
  scale: 1.2;
}

.icon_active {
  stroke: var(--blue);
  fill: var(--blue);
}

