.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-background);
  z-index: 1200;
}

.modal {
  /* Modal styles go here */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  width: 541px;
  height: 752px;

  border-radius: 24px;
  background-color: var(--White);
  padding: 20px;
  overflow-y: auto;
}
