.header{
    padding-top: 24px;
}

.list{
    display: flex;
    gap: 14px;
}


.link {
    display: block;
  padding: 14px 18px;
  border-radius: var(--border-radius);
  background-color: var(--blue);

  color: var(--White, #fff);

  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;

  transition: background-color 0.3s;
}

.link:hover,
.link:focus {
  background-color: var(--accent-color);
}